@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body, html {
  padding: 0;
  margin: 0;
  background-color: #00f;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: white;
  background-color: #005;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55f;
  padding: 50px;
  border-radius: 15px;
}

.working {
  display: none;
}

.progress {
  position: relative;
  height: 20px;
  border-radius: 20px;
  background-color: #aaf;
  width: 100%;
}

#progress-bar {
  position: relative;
  height: 20px;
  border-radius: 20px;
  background-color: #00f;
  width: 25%;
}

#input {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

#file-input {
  margin: 20px;
}

#file-input label {
  padding: 20px;
  color: white;
  background-color: darkblue;
  border-radius: 8px;
  transition-duration: 0.4s;
}


#file-input label:hover {
  background-color: #005;
}
